<div class="container">
    <div class="row">

        <div class="col-12" style="text-align:right">
            <button class=" btn btn-success " (click)="addMore()">Add More</button>
        </div>
        <div class="col-md-6">
            Name:{{userDetail.name}}
        </div>
    
        <div class="col-md-6">
            Mob:{{userDetail.mob}}
        </div>
    
        <div class="col-md-6">
            Age:{{userDetail.age}}
        </div>
    
        <div class="col-md-6">
            Salary:{{userDetail.salary}}
        </div>
    
    </div>
</div>
